doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./public/style.css')
  body
    h2 Albums
    -for (let i = 0; i < albums.length; i++) {
      h3= albums[i].title
    -}
    script(type='text/javascript', src='./public/main.js')
