doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./style.css')
  body
    ul
      li
        form(action='/')
          input(type='submit', value='Playlists')
      li
        form(action='/artists')
          input(type='submit', value='Artists')
      li
        form(action='/songs')
          input(type='submit', value='Songs')
    h2 Albums
    h3= found
    form(action='/albums' method='post')
      input(name='id', placeholder='Find By Id')
      input(name='tableName', value='albums', type='submit')
    form(action='/albums', method='post')
      input(name='title', placeholder='Delete Album By Title')
      input(name='tableName', value='playlists', type='submit')
    -for (let i = 0; i < albums.length; i++) {
      h3= albums[i].title
    -}
    script(type='text/javascript', src='./main.js')
