doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./style.css')
  body
    ul
      li
        form(action='/')
          input(type='submit', value='Playlists')
      li
        form(action='/albums')
          input(type='submit', value='Albums')
      li
        form(action='/songs')
          input(type='submit', value='Songs')
    h2 Artists
    h3= found
    form(action='/artists' method='post')
      input(name='id', placeholder='Find By Id')
      input(name='tableName', value='artists', type='submit')
    form(action='/artists', method='post')
      input(name='name', placeholder='Delete Artists By Name')
      input(name='tableName', value='artists', type='submit')
    table
      tr
        th Id
        th Artists
        th Genre
      -for (let i = 0; i < artists.length; i++) {
      tr
        td= artists[i].id
        td= artists[i].name
        td= artists[i].genre
      -}
    script(type='text/javascript', src='./main.js')
