doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./public/style.css')
  body
    h2 Artists
    -for (let i = 0; i < artists.length; i++) {
      h3= artists[i].name
    -}
    script(type='text/javascript', src='./public/main.js')
