doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./style.css')
  body
    <h1>API Music</h1>
    <h2>Get Info</h2>
    <p>http://url/playlists</p>
    <p>http://url/artists</p>
    <p>http://url/albums</p>
    <p>http://url/songs</p>
    <h2>Get Info By Id</h2>
    <p>http://url/playlists/:id</p>
    <p>http://url/artists/:id</p>
    <p>http://url/albums/:id</p>
    <p>http://url/songs/:id</p>
    <h2>Add Info</h2>
    <h3>Post Request Required</h3>
    <h4>Appears to the path requested</h4>
    <p>http://url/playlists</p>
    <p>http://url/artists</p>
    <p>http://url/albums</p>
    <p>http://url/songs</p>
    <h2>Edit Info</h2>
    <h3>Put Request Required</h3>
    <h4>Appears to the path requested</h4>
    <p>http://url/playlists/:id</p>
    <p>http://url/artists/:id</p>
    <p>http://url/albums/:id</p>
    <p>http://url/songs/:id</p>
    <h2>Delete Info</h2>
    <h3>Delete Request Required</h3>
    <p>http://url/playlists/:id</p>
    <p>http://url/artists/:id</p>
    <p>http://url/albums/:id</p>
    <p>http://url/songs/:id</p>
    <h4>Disappears from the path requested</h4>
    <p>http://url/playlists</p>
    <p>http://url/artists</p>
    <p>http://url/albums</p>
    <p>http://url/songs</p>

 
