doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./style.css')
  body
    h2 Playlists
    h3= found
    form(action='/', method='post')
      input(name='id', placeholder='Find By Id')
      input(name='tableName', value='playlists', type='submit')
    form(action='/', method='post')
      input(name='name', placeholder='Delete Playlists By Name')
      input(name='tableName', value='playlists', type='submit')
    -for (let i = 0; i < playlist.length; i++) {
      h3= playlist[i].title
    -}
    script(type='text/javascript', src='./main.js')
