doctype html
html
  head
    meta(charset='UTF-8')
    title Music API
    link(type='text/css', rel='stylesheet', href='./public/style.css')
  body
    h2 Songs
    -for (let i = 0; i < songs.length; i++) {
      h3= songs[i].title
    -}
    script(type='text/javascript', src='./public/main.js')
